/* FormularioEvento.module.css */

.container {
  background-color: #98adbb;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin-top: 50px !important;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  color: #ffffff;
  text-align: center;
}

.label {
  display: block;
  margin-bottom: 8px;
  color: #ffffff;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.button {
  background-color: #3c8056;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 30px;
}

.button:hover {
  background-color: #4c8a64; /* Un tono más oscuro para el hover */
}

.alert {
  color: red;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}
